// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.content
  display: block

.container
  width: 370px
  input
    width: 100%
    padding-left: 0
    padding-right: 0
    text-indent: 5px

h1
  text-align: center
  margin-bottom: 40px
  padding-bottom: 10px
  border-bottom: 1px dotted #e0e0e0

#login-view
  position: relative

.squiggle
  left: 0
  -webkit-animation: squiggle .2s ease-in-out 2 alternate

@-webkit-keyframes squiggle
  0%
    left: 0
  50%
    left: -20px
  100%
    left: 20px


.checklist-item
  display: inline-block
  width: 85%
  input
    border: none
    border-bottom: 1px solid #e0e0e0
    background: white
    box-shadow: none
    font-size: 18px
    .done &
      text-decoration: line-through
.close
  display: inline-block


.checklist-box
  display: inline-block
  width: 5%
  input
    margin: 0

#create-item
  margin-top: 40px